<sun-panel>
  <sun-panel-header>Custom Right Menu</sun-panel-header>
  <sun-panel-content>
    <div *ngFor="let column of columns">
      <span *ngIf="column.field !='rowSelection'" (click)="onColumnShowHide($event, column)">
        <sun-checkbox [checked]="!column.hidden">
        </sun-checkbox>
        {{column.header}}
      </span>
    </div>
  </sun-panel-content>
  <sun-panel-footer>
    <span *ngFor="let item of toolBarItems">
      <button (click)="onToolBarItemClick(item)">{{item.title}}</button>
    </span>
  </sun-panel-footer>
</sun-panel>
