<sun-page-header>
  <sun-page-title>Popover</sun-page-title>
  <sun-page-subtitle>[sunPopover]</sun-page-subtitle>

  <div class="flex-spacer"></div>
  <ol class="breadcrumbs">
    <li><a routerLink="/">Home</a></li>
    <li>&bull;</li>
    <li><a routerLink="/components">Components</a></li>
    <li>&bull;</li>
    <li>Popover</li>
  </ol>
</sun-page-header>

<sun-panel>
  <sun-panel-header>Popover with TemplateRef</sun-panel-header>
  <sun-panel-content>
    <button sunButton [sunPopover]="template" [sunPopoverContext]="{text: 'Custom message!'}">Show popover</button>

    <ng-template #template let-data>
      <p>Template Ref with context</p>
      <p>{{ data.text }}</p>
    </ng-template>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>Popover with Component</sun-panel-header>
  <sun-panel-content>
    <button sunButton [sunPopover]="dynamicComponent" [sunPopoverContext]="{text: 'Custom message!'}">Show
      popover</button>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>Popover with Menu Panel Component</sun-panel-header>
  <sun-panel-content>
    <button sunButton [sunPopover]="menuPanelComponent" sunPopoverTrigger="click"
      [sunPopoverContext]="{menuItems: items}">Show
      menu panel popover</button>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>Popover position</sun-panel-header>
  <sun-panel-content>

    <button sunButton [sunPopover]="templatePosition" sunPopoverPosition="left">
      Left
    </button>

    <button sunButton [sunPopover]="templatePosition" sunPopoverPosition="bottom">
      Bottom
    </button>

    <button sunButton [sunPopover]="templatePosition" sunPopoverPosition="top">
      Top
    </button>

    <button sunButton [sunPopover]="templatePosition" sunPopoverPosition="right">
      Right
    </button>

    <button sunButton [sunPopover]="templatePosition" sunPopoverPosition="bottomRight">
      Bottom Right
    </button>

    <ng-template #templatePosition>
      Template position
    </ng-template>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>Popover trigger</sun-panel-header>
  <sun-panel-content>
    <button sunButton [sunPopover]="templateTrigger" sunPopoverTrigger="click">
      click
    </button>

    <button sunButton [sunPopover]="templateTrigger" sunPopoverTrigger="hover">
      hover
    </button>

    <button sunButton [sunPopover]="templateTrigger" sunPopoverTrigger="noop">
      noop
    </button>

    <ng-template #templateTrigger>
      Template trigger
    </ng-template>

    <button sunButton [sunPopover]="menuPanelComponent" [sunPopoverContext]="{menuItems: items}"
      sunPopoverTrigger="contextmenu" style="width:600px; border: solid 1px gray; text-align: left">
      Context Menu
    </button>

    <ng-template #templatecontext let-data>
      <sun-menu [items]="items" [menuItemTpl]="menuItemTplContext" menuType="nested"></sun-menu>
      <ng-template #menuItemTplContext let-item>
        {{item.title }}
      </ng-template>
    </ng-template>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>
    Programmatic Popover
  </sun-panel-header>
  <sun-panel-content>
    <button #popover="sunPopover" sunButton (click)="show()" [sunPopover]="templateProgrammatic" sunPopoverTrigger="noop">
      Show
    </button>
    <button sunButton (click)="popover.hide()">
      Hide
    </button>
    <ng-template #templateProgrammatic>
      HELLO WORLD
    </ng-template>
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>
    Close On Click
  </sun-panel-header>
  <sun-panel-content>
    <button sunButton [sunPopover]="templateCloseOnClick" sunPopoverTrigger="click">
      Click
    </button>
    <button sunButton [sunPopover]="popoverComponentTemplate" sunPopoverTrigger="click">
      Click2
    </button>
    <ng-template #templateCloseOnClick let-close="close">
      <div (click)="close()">
        I'm a Template!  Click me to close!
      </div>
    </ng-template>
  </sun-panel-content>
</sun-panel>
