<label>
  <div class="sun-slide-toggle-bar">
    <input class="cdk-visually-hidden"
      type="checkbox"
      [checked]="checked"
      [disabled]="disabled"
      (change)="onChangeEvent($event)"
      (click)="$event.stopPropagation()">
    <div class="sun-slide-toggle-thumb-container">
      <div class="sun-slide-toggle-thumb">
        <div class="sun-slide-toggle-thumb-inner"></div>
      </div>
    </div>
  </div>
  <span class="sun-slide-toggle-content">
    <ng-content></ng-content>
  </span>
</label>
