<div class="mapping-container">
  <div class="mapping-grid">

    <div class="grid-header sensor-mapping-type-header">
    </div>
    <div *ngFor="let type of sensorMapKeys; index as i"
      [style.grid-row]="i + 2">
      {{type.key}}
    </div>

    <div class="grid-header">Sensor Mappings</div>
    <div cdkDropList *ngFor="let item of sensorMapList; index as i"
      (cdkDropListDropped)="cdkDragDrop($event, 'remove')"
      [attr.sensor-map-index]="i"
      [style.grid-row]="i + 2"
      class="drag-drop-over" [ngClass]="dragSensorMappClass(i)">

      <div *ngIf="item" cdkDrag
        [cdkDragData]="item"
        (cdkDragMoved)="cdkDragMoved($event, 'remove')"
        class="sensor-mapping-item">
        <i class="fa fa-bars"> </i>{{item.name}}
        <div *cdkDragPlaceholder style="display: none"></div>
      </div>
      <div *ngIf="mappingPlaceholder[i]" class="sensor-mapping-placeholder">
        Drag and drop here to mapping
      </div>
    </div>

    <div class="grid-header sensor-mapping-status-header">Status</div>
    <div *ngFor="let item of sensorMapList; index as i"
      class="sensor-mapping-status"
      [style.grid-row]="i + 2">
      <div *ngIf="item">
        {{item.status}}
      </div>
    </div>
  </div>
</div>

<div class="available-list">
  <div class="grid-header available-list-header">Available Sensors</div>

  <div cdkDropList [ngStyle]="{'display': dragType == 'remove' ? '' : 'none'}"
    [attr.sensor-map-remove]="-1"
    class="sensor-map-remove-placeholder drag-over-remove">
    Drag and drop here to remove mapping
  </div>

  <div cdkDropList *ngFor="let item of availableSensors; index as i"
    (cdkDropListDropped)="cdkDragDrop($event, 'add')"
    class="available-list-cell">
    <div cdkDrag *ngIf="dragType != 'remove'"
      [cdkDragData]="item"
      (cdkDragStarted)="cdkDragStart(item)"
      (cdkDragMoved)="cdkDragMoved($event, 'add')"
      [attr.sensor-map-remove]="item.id">
      <i class="fa fa-bars"> </i>{{item.name}}
      <div *cdkDragPlaceholder style="display: none"></div>
    </div>
  </div>
</div>

<div class="available-link-list">
  <div class="grid-header pdu-header">PDU</div>
  <div *ngFor="let item of availableSensors; index as i"
    class="available-link-cell">
    {{item.pdu}}
  </div>
</div>
