
:host {
  display: flex;
  width: 675px;
  margin-top: 20px;

  .cdk-drag {
    cursor: move;
  }

  .cdk-drag-preview {
    opacity: 0.75;
  }

  .grid-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
  }

  .mapping-container {
    flex-basis: 55%;
    overflow: auto;
    .mapping-grid {
      display: grid;
      grid-template-columns: 60px 1.2fr 60px;
      grid-row-gap: 1 * 4px;

      .drag-drop-over {
        // border-style: dashed;
        border-width: 1px;
        background-color: gray;
        // background-image: repeating-linear-gradient(180deg, #ccc, #ccc 4px, #dbdbdb 4px, #dbdbdb 8px);
      }

      .sensor-mapping-item {
        margin: 3px 5px;
        font-weight: bold;
        color: red;
        background-color: orange;
        // background-image: repeating-linear-gradient(180deg, #ccc, #ccc 4px, #dbdbdb 4px, #dbdbdb 8px);
      }

      .sensor-mapping-placeholder {
        margin: 3px 5px;
      }

      .sensor-mapping-droppable {
        // background-image: repeating-linear-gradient(180deg, #ccc, #ccc 4px, #dbdbdb 4px, #dbdbdb 8px);
        background-color: lightgreen;
      }

      .sensor-mapping-dragover {
        background-color: blue;
      }

      .sensor-mapping-status-header, .sensor-mapping-status {
        text-align: right;
      }
    }
  }

  .available-list {
    flex-basis: 25%;

    .available-list-header, .available-list-cell {
      margin-left: 20px;
    }

    .sensor-map-remove-placeholder {
      margin-left: 20px;
      height: 250px; // TODO height flex?
      background-color: lime;
    }
  }

  .available-link-list {
    flex-basis: 20%;
    .pdu-header, .available-link-cell {
      text-align: right;
    }
  }
}
