
:host {
  display: grid;
  grid-template-columns: 150px 1.2fr 150px 200px 150px;
  grid-row-gap: 1 * 2px;
  width: 90%;
  margin-top: 20px;

  .cdk-drag {
    cursor: move;
  }

  .cdk-drag-preview {
    opacity: 0.75;
  }

  .sensor-mapping-placeholder {
    border-style: dashed;
    border-width: 1px;
  }

  .grid-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
  }

  .sensor-mapping-item {
    font-weight: bold;
    color: red;
  }

  .sensor-mapping-drag {
    background-color: lightgreen;
  }

  .sensor-mapping-status-header {
    text-align: center;
  }

  .sensor-mapping-status {
    text-align: center;
  }

  .available-list-header {
    margin-left: 20px;
    text-align: center;
  }

  .available-list-cell {
    grid-column: 4;
    margin-left: 20px;
  }

  .available-link-cell {
    grid-column: 5;
  }
}
