<div class="flex">
  <div class="grid-container">
    <div class="grid">

      <div class="hdr orig-assign-hdr">Original</div>
      <div *ngFor="let oa of originalAssignments; index as i" class="orig-assign-cell" [style.grid-row]="i + 2">
        {{oa.displayName}}</div>

      <!-- New Assignment column: -->
      <div class="hdr new-assign-hdr">New Assignment</div>
      <div cdkDropList *ngFor="let oa of originalAssignments; index as i" #newAssignmentDropsite="cdkDropList"
        [cdkDropListData]="newAssignments[i]" [cdkDropListConnectedTo]="connections[i]" (CdkDragEnter)="CdkDragEnter()"
        [style.grid-row]="i + 2" class="new-assign-cell">

        <div *ngFor="let newAssignment of newAssignments[i]" cdkDrag (CdkDragEnter)="CdkDragEnter()" cdkDragHandle
          [cdkDragData]="newAssignment" class="item new-assign-item">
          {{newAssignment.displayName}}
          <div *cdkDragPlaceholder style="display: none"></div>
        </div>
        <div *ngIf="showPlaceholder[i]" class="item placeholder">Drag and drop here to assign</div>
      </div>

      <div class="hdr status-hdr">Status</div>
      <div *ngFor="let oa of originalAssignments; index as i"
        class="status"
        [style.grid-row]="i + 2">
        {{oa.displayName}}X</div>

    </div>
  </div>


  <div class="list">

    <!-- Available column: -->
    <div class="hdr avail-hdr">Available</div>
    <div cdkDropList #availableDropsite="cdkDropList" [cdkDropListData]="available"
      [cdkDropListConnectedTo]="availableConnections" (CdkDragEnter)="CdkDragEnter()"
      class="avail-cell">

      <div *ngFor="let avail of available" cdkDrag cdkDragHandle [cdkDragData]="avail" (cdkDragMoved)="cdkDragMoved()"
        class="item avail-item">
        {{avail.displayName}}
        <div *cdkDragPlaceholder style="display: none"></div>
      </div>
    </div>

  </div>


  <div class="list2">

    <div class="hdr avail-hdr2">PDU</div>
    <div class="avail-cell2">
      <div *ngFor="let avail of available"
        class="item avail-item">
        {{avail.displayName}}
      </div>
    </div>
  </div>


</div>
