<sun-page-header>
  <sun-page-title>Spinner</sun-page-title>
  <sun-page-subtitle>[sunSpinner]</sun-page-subtitle>

  <div class="flex-spacer"></div>
  <ol class="breadcrumbs">
    <li><a routerLink="/">Home</a></li>
    <li>&bull;</li>
    <li><a routerLink="/components">Components</a></li>
    <li>&bull;</li>
    <li>Spinner</li>
  </ol>
</sun-page-header>

<sun-panel [sunSpinner]="true" sunSpinnerSize="large">
  <sun-panel-content>
    Some panel content.
  </sun-panel-content>
</sun-panel>

<sun-panel>
  <sun-panel-header>
    Button With Spinner
  </sun-panel-header>
  <sun-panel-content>
    <button sun-button status="primary" (click)="toggleLoadingButton()" [sunSpinner]="loadingButton">Click</button>
    <button sun-button status="default" (click)="toggleLoadingButton()" [sunSpinner]="loadingButton">Click</button>
  </sun-panel-content>
</sun-panel>
