<sun-page-header>
  <sun-page-title>Toolbar</sun-page-title>
  <sun-page-subtitle>&lt;sun-toolbar&gt;</sun-page-subtitle>

  <div class="flex-spacer"></div>
  <ol class="breadcrumbs">
    <li><a routerLink="/">Home</a></li>
    <li>&bull;</li>
    <li><a routerLink="/components">Components</a></li>
    <li>&bull;</li>
    <li>Toolbar</li>
  </ol>
</sun-page-header>

<sun-panel>
  <sun-panel-header>Basic toolbar configuration</sun-panel-header>
  <sun-panel-content>
    <pre>
      <code>
        &lt;sun-toolbar&gt;
          Toolbar
        &lt;/sun-toolbar&gt;
      </code>
    </pre>
    <sun-toolbar>Toolbar</sun-toolbar>
  </sun-panel-content>
</sun-panel>
