<sun-page-header>
  <sun-page-title>Tabs</sun-page-title>

  <div class="flex-spacer"></div>
  <ol class="breadcrumbs">
    <li><a routerLink="/">Home</a></li>
    <li>&bull;</li>
    <li><a routerLink="/components">Components</a></li>
    <li>&bull;</li>
    <li>Tabs</li>
  </ol>
</sun-page-header>

<sun-panel>
  <sun-panel-header>Tabs navigation</sun-panel-header>
  <sun-panel-content>
    <pre ngNonBindable>
      <code>
        &lt;nav sun-tab-nav-bar&gt;
          &lt;a sun-tab-link *ngFor="let link of links"
          (click)="activeLink = link"
          [active]="activeLink == link"&gt;
            {{ link }}
          &lt;/a&gt;  
        &lt;/nav&gt;
      </code>
    </pre>

    <nav sun-tab-nav-bar>
      <a sun-tab-link *ngFor="let link of links"
         (click)="activeLink = link"
         [active]="activeLink == link">
         {{link}}
      </a>
    </nav>
  </sun-panel-content>
</sun-panel>
