<div class="base-grid-example-container">
  <sun-grid-view
    [columns]="columns"
    [dataSource]="dataSource"
    [dataKeyId]="dataKeyId"
    [totalRecords]="totalRecords"
    [isGridFilterable]="isGridFilterable"
    [filteredValues]="filteredValues"
    [isGridEditable]="isGridEditable"
    [multiRowSelection]="multiRowSelection"
    [groupByColumns]="groupByColumns"
    customRightMenu="true"
    (sunGridCustomRightMenuClickEvent)="onCustomRightMenuClick()"
    [pending]="pending">
  </sun-grid-view>
</div>
