/* You can add global styles to this file, and also import other style files */
@import 'sunbird-seven-framework/dist/sunbird-seven.css';

// @import '~@angular/cdk/overlay-prebuilt.css';

@import '~sunbird-seven-ui/theming';

// @import '~normalize.css/normalize.css';
// @import '~@fortawesome/fontawesome-free/css/all.css';
// @import '~font-awesome/css/font-awesome.css';

@include sun-install() {
  @include sun-theme-components();
};

.flex-spacer {
  flex: 1 1 auto;
}

ol.breadcrumbs {
  display: flex;
  flex-direction: row;

  li {
    margin-right: 0.5rem;
  }
}
